<!DOCTYPE html>
<html>
<head>
    <title>LetterViewer</title>
    <script>
        setInterval(() => {
            fetch("/status")
            .then(r => r.json())
            .then(data => {
                if (data.ready) location.reload();
            });
        }, 5001)
    </script>
</head>
<body>
    <h1>LetterWriter</h1>
    <img src="{{ url_for('static', filename='document.png')}}" alt="placeholder" width="500"><br>
    <a href="/static/document.png" download><button>Download Image</button></a>

    <h3>Original Audio:</h3>
    <audio controls>
        <source src="/static/original.wav" type="audio/wav">
        Your browser doesn't support audio.
    </audio>

    <h3>Filtered Audio:</h3>
    <audio controls>
        <source src="/static/filtered_audio.wav" type="audio/wav">
        Your browser doesn't support audio.
    </audio>
</body>
</body>
</html>